[Unit]
Description=watch for docker to start docker.target
After=started.target

[Service]
ExecStart=%h/.local/bin/docker-check.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target