[Unit]
Description=Run local Hybris for Vision Express
After=ve-mysql.service
Requires=ve-mysql.service

[Service]
WorkingDirectory=%h/repos/ve/hybris/bin/platform/
ExecStart=%h/repos/ve/hybris/bin/platform/hybrisserver.sh

[Install]
WantedBy=multi-user.target